/* 基础的部分 开始 */

html,
body {
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Rhythm Italic Serif", "Rhythm Heiti", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

footer,
header,
nav,
section {
    display: block;
}

body {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
}

h2,
h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a {
    color: #313537;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #313537;
}

a:active {
    color: #096dd9;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

::-moz-selection {
    color: #fff;
    background: #313537;
}

::selection {
    color: #fff;
    background: #313537;
}

html {
    --antd-wave-shadow-color: #313537;
}


/* iconfont */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .icon.app-down-icon{
    font-size: 11em;
    height:50px;
 }
.icon.product-des-icon{
    font-size: 20em;
}
.icon.partner-icon{
    font-size: 10em;
}
.icon.contact-icon{
    font-size: 4em;
}
.icon.social-icon{
    font-size: 4em;
    width:30px;
    height:30px;
}
.icon.download-icon{
    font-size: 4em;
    margin-right: 20px;
}
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/**
 * Remove default margin.
 */

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

footer,
header,
nav,
section {
    display: block;
}


/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */


/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */


/* Links
   ========================================================================== */


/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/* Text-level semantics
   ========================================================================== */


/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */


/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */


/**
 * Address styling not present in Safari 5 and Chrome.
 */


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */


/**
 * Address styling not present in IE 8/9.
 */


/**
 * Address inconsistent and variable font size in all browsers.
 */


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */


/* Embedded content
   ========================================================================== */


/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}


/**
 * Correct overflow displayed oddly in IE 9.
 */


/* Grouping content
   ========================================================================== */


/**
 * Address margin not present in IE 8/9 and Safari 5.
 */


/**
 * Address differences between Firefox and other browsers.
 */


/**
 * Contain overflow in all browsers.
 */


/**
 * Address odd `em`-unit font size rendering in all browsers.
 */


/* Forms
   ========================================================================== */


/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */


/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */


/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */


/**
 * Re-set default cursor for disabled elements.
 */


/**
 * Remove inner padding and border in Firefox 4+.
 */


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */


/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */


/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */


/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */


/**
 * Define consistent border, margin, and padding.
 */


/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */


/**
 * Remove default vertical scrollbar in IE 8/9.
 */


/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */


/* Tables
   ========================================================================== */


/**
 * Remove most spacing between table cells.
 */

h2,
h4,
p {
    margin: 0;
}

.common-navbar-container {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.common-navbar {
    display: flex;
    height: 80px;
    align-items: center;
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.common-navbar .navbar-logo {
    margin-right: 40px;
    width: 200px;
    height: auto;
}

.common-navbar nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.common-navbar nav .ant-btn-primary {
    background: #191C1E;
    margin-left: 28px;
    border-radius: 8px;
    height: 35px;
}

.common-navbar nav .ant-btn-primary span {
    line-height: 32px;
}

.common-navbar nav .ant-btn-primary:hover {
    background: #4d4d4d;
}

.common-navbar nav .ant-btn-primary:active {
    opacity: 0.15;
}

.common-navbar nav a.ant-dropdown-link {
    display: inline-block;
    padding: 16px 28px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.common-navbar nav a.ant-dropdown-link {
    padding: 8px 16px;
    margin: 8px 12px;
    font-weight: normal;
    color: #777a8c;
}

.common-navbar nav a.ant-dropdown-link:hover {
    background: rgba(25, 28, 30, 0.1);
    border-radius: 8px;
    color: #191C1E;
    font-weight: normal !important;
}

.navbar-placeholder {
    height: 160px;
}

@media (max-width: 1168px) {
    .common-navbar-container .common-navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
    .common-navbar-container .common-navbar .navbar-logo {
        margin-right: 0;
    }
    .common-navbar-container .common-navbar .ant-btn-primary {
        background: #191C1E;
        margin-left: 28px;
        border-radius: 8px;
        height: 35px;
    }
    .common-navbar-container .common-navbar .ant-btn-primary span {
        line-height: 32px;
    }
    .common-navbar-container .common-navbar .ant-btn-primary:hover {
        background: #4d4d4d;
    }
    .common-navbar-container .common-navbar .ant-btn-primary:active {
        opacity: 0.15;
    }
}

.common-footer {
    width: 100%;
    max-width: 1168px;
    padding: 54px 0 0;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.common-footer p {
    margin-bottom: 0;
}

.common-footer .nav-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.common-footer .nav-links .links-wrap {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.common-footer .nav-links .links-wrap>div {
    flex: 1;
    margin-bottom: 20px;
}

.common-footer .nav-links .links-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.common-footer .nav-links .links-item .links-item-title {
    font-size: 14px;
    font-weight: 600;
    color: #63727d;
    margin: 10px 0;
}

.common-footer .nav-links .links-item a,
.common-footer .nav-links .links-item span {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #777A8C;
    margin-bottom: 8px;
}

.common-footer .nav-links .links-item a {
    cursor: pointer;
    text-decoration: none;
}

.common-footer .nav-links .links-item a:hover {
    color: #191C1E;
}

.common-footer .social {
    width: 300px;
    display: flex;
}

.common-footer .social .social-icon {
    opacity: 0.5;
}

.common-footer .social .social-icon:hover {
    opacity: 1;
}

.common-footer .social .social-icon {
    margin-right: 24px;
}

.common-footer .nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.common-footer .nav-info .info {
    display: flex;
    align-items: center;
}

.common-footer .nav-info .info .copyright {
    font-size: 13px;
    font-weight: normal;
    color: #777A8C;
    margin-right: 28px;
}

.common-footer .nav-info .language {
    position: relative;
    display: flex;
    align-items: center;
}

.common-footer .nav-info .language .current-language {
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    color: #777A8C;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 0;
}

.common-footer .nav-info .language .current-language:hover {
    color: #191C1E;
}

.common-footer .media-wrap {
    width: 100%;
    justify-content: space-between;
}

.common-footer .friend-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #F4F6F9;
    margin-top: 15px;
    font-weight: normal;
}

.common-footer .friend-link .friend-title {
    font-size: 13px;
    line-height: 15px;
    color: #C4C9D9;
    margin-right: 65px;
    font-weight: normal;
}

.common-footer .friend-link .friend-links {
    padding: 20px 0;
}

.common-footer .friend-link .friend-links a {
    font-size: 13px;
    line-height: 15px;
    color: #777A8C;
    margin-right: 30px;
    font-weight: normal;
}

.common-footer .friend-link .friend-links a:hover {
    color: #191C1E;
}

@media (max-width: 1168px) {
    .subscribe-item {
        width: 100%;
        padding: 0;
    }
    .common-footer {
        width: 100%;
        padding: 20px 1em;
        position: relative;
        padding: 20px 1rem;
        border-top: 1px solid #F4F6F9;
    }
    .common-footer .friend-link {
        padding-top: 20px;
    }
    .common-footer .friend-link .friend-title {
        margin-right: 40px;
    }
    .common-footer .friend-link .friend-links {
        padding: 10px 0;
    }
    .common-footer .nav-links {
        width: 100%;
        flex-wrap: wrap;
    }
    .common-footer .nav-links .links-wrap {
        width: 100%;
    }
    .common-footer .nav-links .links-wrap .links-item {
        width: 50%;
    }
    .common-footer .nav-links .links-item {
        width: 50%;
        max-width: none;
        padding-right: 1em;
    }
    .common-footer .nav-info {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    .common-footer .social {
        width: 100%;
        margin-top: 1.8em !important;
    }
}

html {
    position: relative;
}

body {
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.partner-logo {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.partner-logo:hover {
    opacity: 1;
}

.home-page .navbar-placeholder {
    height: 80px;
}

.home-page p {
    font-weight: 300;
    margin-bottom: 0;
}

.home-page .feature {
    background-color: #191C1E;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0 70px 0;
}

.home-page .feature .feature-inner {
    width: 100%;
    max-width: 1168px;
}

.home-page .feature .feature-inner .title {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.home-page .feature .feature-inner .subtitle {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.home-page .feature .feature-inner .feature-cards {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.home-page .feature .feature-inner .feature-cards .feature-item {
    width: 375px;
    height: 180px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.home-page .feature .feature-inner .feature-cards .feature-item .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.home-page .feature .feature-inner .feature-cards .feature-item .subtitle {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.home-page .product {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.home-page .product .product-inner {
    width: 100%;
    max-width: 1168px;
}

.home-page .product .product-inner .product-wallet,
.home-page .product .product-inner .product-tokenlon {
    justify-content: space-around;
    padding: 90px 0;
}

.home-page .product .product-inner .product-wallet>div,
.home-page .product .product-inner .product-tokenlon>div {
    max-width: 500px;
}

.home-page .product .product-inner .product-wallet .flex-row .ant-divider-vertical,
.home-page .product .product-inner .product-tokenlon .flex-row .ant-divider-vertical {
    display: block;
    width: 1px;
    background-color: #E1E6EA;
    height: 4rem;
    margin: 0 30px;
}

.home-page .product .product-inner .product-tokenlon .flex-row .ant-divider-vertical {
    height: 1rem;
}

.home-page .product .product-inner .title {
    font-size: 32px;
    line-height: 44px;
    color: #191C1E;
    font-weight: 300;
}

.home-page .product .product-inner .subtitle {
    font-size: 21px;
    line-height: 28px;
    color: #777A8C;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 8px;
}

.home-page .product .product-inner .number {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #191C1E;
    margin-bottom: 10px;
}

.home-page .product .product-inner .desc {
    color: #777A8C;
    font-weight: 300;
    font-size: 17px;
    margin-top: 1px;
}

.home-page .partner {
    width: 100%;
    background-color: #fafbfc;
    background-color: #F6F8FB;
}

.home-page .partner .partner-inner {
    width: 1168px;
    margin: 0 auto;
    padding: 100px 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 1024px) {
    .home-page .partner .partner-inner {
        width: 100%;
        padding: 80px 1em;
    }
}

.home-page .partner .partner-inner .title {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #191C1E;
    font-weight: 300;
    margin-bottom: 40px;
}

.home-page .partner .partner-inner .partner-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.home-page .partner .partner-inner .partner-list .partner-item {
    margin: 6px 0;
}

.home-page .partner .partner-inner .partner-list img {
    display: block;
    width: 204px;
}

.home-page .contact {
    width: 100%;
    background-color: #fafbfc;
    background-color: white;
}

.home-page .contact .contact-inner {
    width: 1168px;
    margin: 0 auto;
    padding: 100px 0;
    padding-top: 80px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 1024px) {
    .home-page .contact .contact-inner {
        width: 100%;
        padding: 80px 1em;
    }
}

.home-page .contact .contact-inner .title {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
    color: #191C1E;
}

.home-page .contact .contact-inner .flex-row {
    justify-content: space-between;
    margin-top: 50px;
}

.home-page .contact .contact-inner .contact-items {
    align-items: flex-start;
}

.home-page .contact .contact-inner .contact-items .contact-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 270px;
    text-align: center;
    font-weight: normal;
}

.home-page .contact .contact-inner .contact-items .contact-item:hover .item-title {
    font-weight: 500;
    color: #191C1E;
}

.home-page .contact .contact-inner .contact-items .contact-item:hover .item-link {
    color: #191C1E;
}

.home-page .contact .contact-inner .contact-items .contact-item .item-title {
    font-size: 24px;
    line-height: 28px;
    color: #777A8C;
    margin-top: 20px;
    display: block;
    font-weight: normal;
}

.home-page .contact .contact-inner .contact-items .contact-item .item-link {
    font-size: 17px;
    line-height: 30px;
    color: #777A8C;
    margin-top: 10px;
    font-weight: normal;
}

.home-page .contact .contact-inner .contact-items .contact-item .item-subtitle {
    font-size: 17px;
    color: #C4C9D9;
}

.home-download {
    margin-top: 35px;
}

.home-page .announce {
    height: 50px;
    /* background: #F6F8FB; */
    background: #f6f6f6;
    padding: 15px 0;
}

.home-page .announce .announce-inner {
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-page .announce .announce-inner a {
    font-size: 13px;
    line-height: 15px;
    color: #777A8C;
    margin-left: 16px;
}

@media (max-width: 960px) {
    .home-page .announce .announce-inner {
        padding: 0 20px;
    }
    .home-page .common-banner .banner-inner .home-download>div {
        margin-left: 0;
    }
    .home-page .common-banner .banner-inner .home-download {
        margin: 20px 0 45px 0;
    }
    .home-page .partner {
        padding: 0;
    }
    .home-page .partner .partner-inner {
        width: 100%;
    }
    .home-page .partner .partner-inner .title {
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 25px;
    }
    .home-page .partner .partner-inner .partner-list {
        width: 100%;
    }
    .home-page .partner .partner-inner .partner-list .partner-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .home-page .partner .partner-inner .partner-list img {
        width: 100%;
        margin: 1em;
    }
    .home-page .feature {
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-page .feature .feature-inner .title {
        font-size: 25px;
    }
    .home-page .feature .feature-inner .title,
    .home-page .feature .feature-inner .subtitle {
        text-align: left;
        margin-left: 15px;
    }
    .home-page .feature .feature-inner .feature-cards .feature-item {
        border-radius: 0;
        border: 0;
        margin-bottom: 2px;
        align-items: flex-start;
        height: 140px;
    }
    .home-page .feature .feature-inner .feature-cards .feature-item:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .home-page .feature .feature-inner .feature-cards .feature-item:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .home-page .product .product-inner>div {
        flex-flow: column nowrap;
        padding: 70px 25px !important;
    }
    .home-page .product .product-inner>div>img {
        max-width: 100%;
    }
    .home-page .product .product-inner>div div .title {
        font-size: 25px;
        margin-top: 60px;
    }
    .home-page .product .product-inner>div div .subtitle {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .home-page .product .product-inner>div div .number {
        font-size: 25px;
        line-height: 48px;
        margin-bottom: 0;
    }
    .home-page .product .product-inner>div.product-tokenlon {
        flex-direction: column-reverse;
    }
    .home-page .product .product-inner>div.flex-row {
        align-items: flex-start;
    }
    .home-page .contact .contact-inner {
        padding: 70px 30px 20px;
    }
    .home-page .contact .contact-inner .title {
        font-size: 25px;
        text-align: left;
    }
    .home-page .contact .contact-inner .contact-items {
        flex-flow: column nowrap;
    }
    .home-page .contact .contact-inner .contact-items .contact-item {
        flex-flow: row nowrap;
        align-items: flex-start;
        width: calc(100vw - 80px);
        margin-bottom: 55px;
    }
    .home-page .contact .contact-inner .contact-items .contact-item img {
        width: 33px;
        height: 33px;
    }
    .home-page .contact .contact-inner .contact-items .contact-item>div {
        padding-left: 20px;
        text-align: left;
    }
    .home-page .contact .contact-inner .contact-items .contact-item>div .item-title {
        margin-top: 0;
        font-size: 17px;
        line-height: 20px;
    }
    .home-page .contact .contact-inner .contact-items .contact-item>div .item-link {
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
    }
    .home-page .contact .contact-inner .contact-items .contact-item>div .item-subtitle {
        font-size: 13px;
        line-height: 15px;
        color: #C4C9D9;
        margin-top: 10px;
    }
}


/**************************\
  Demo Animation Style
\**************************/

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.ant-btn-primary {
    box-shadow: unset !important;
    text-shadow: unset !important;
}

.ant-btn-primary span {
    box-shadow: unset !important;
    text-shadow: unset !important;
}

p {
    margin-bottom: 0;
}

.link-hover {
    color: #777a8c !important;
}

.link-hover:hover {
    color: #191C1E !important;
}

.ant-btn {
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
    outline: 0;
}

.ant-btn:not([disabled]):hover {
    text-decoration: none;
}

.ant-btn:not([disabled]):active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-btn:hover,
.ant-btn:focus {
    color: #313537;
    background-color: #fff;
    border-color: #313537;
}

.ant-btn:active {
    color: #096dd9;
    background-color: #fff;
    border-color: #096dd9;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    text-decoration: none;
    background: #fff;
}

.ant-btn>span {
    display: inline-block;
    -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    pointer-events: none;
}

.ant-btn-primary {
    color: #fff;
    background-color: #313537;
    border-color: #313537;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background-color: #313537;
    border-color: #313537;
}

.ant-btn-primary:active {
    color: #fff;
    background-color: #096dd9;
    border-color: #096dd9;
}

.ant-btn::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: 0.35;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
}

.ant-btn:focus>span,
.ant-btn:active>span {
    position: relative;
}

a.ant-btn {
    padding-top: 0.1px;
    line-height: 30px;
}

#navbar-links>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


/* 基础的部分 结束 */


/* Card 开始 */

.ant-card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ant-card-bordered {
    border: 1px solid #e8e8e8;
}

.ant-card-body {
    padding: 24px;
    zoom: 1;
}

.ant-card-body::before,
.ant-card-body::after {
    display: table;
    content: '';
}

.ant-card-body::after {
    clear: both;
}

.common-banner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid #f7f5f5;
}

.common-banner .banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1168px;
    background: #fff;
    border-radius: 24px;
    height: 730px;
    overflow: visible;
    margin: 55px 0;
    padding-left: 115px;
    padding-right: 70px;
}

.common-banner .banner-inner>div {
    max-width: 500px;
}

.common-banner .banner-inner .title-family {
    font-size: 64px;
    margin: 0;
    color: #191C1E;
    font-weight: 600;
}

.common-banner .banner-inner .title {
    font-size: 32px;
    line-height: 1.13;
    color: #43454F;
    font-weight: 300;
}

.common-banner .banner-inner .subtitle {
    font-size: 21px;
    line-height: 32px;
    color: #777A8C;
    margin-top: 16px;
    max-width: 400px;
}

.common-banner .banner-inner .home-banner {
    width: 500px;
    height: 500px;
}

@media (max-width: 1024px) {
    .common-banner {
        width: 100%;
        padding: 0 1em;
        background: #fff;
    }
    .common-banner .banner-inner {
        width: 100%;
        padding: 0;
        background: #fff !important;
        flex-direction: column;
        height: unset;
        align-items: center;
    }
    .common-banner .banner-inner>div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .common-banner .banner-inner>img.home-banner {
        width: 100%;
        height: unset;
    }
    .common-banner .banner-inner .title {
        max-width: 325px;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 1px;
        color: #43454F;
        text-align: center;
        font-weight: 500;
        margin-left: 0;
        font-weight: normal;
    }
    .common-banner .banner-inner .subtitle {
        text-align: center;
        font-size: 17px;
        line-height: 32px;
        color: #777A8C;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 325px;
    }
    .common-banner .banner-inner .home-download>div {
        margin-left: 0;
    }
    .common-banner .banner-inner .home-download {
        margin: 20px 0 45px 0;
    }
}

.download.waist {
    background: #F6F8FB;
    height: 158px;
}

.download.waist p {
    margin-bottom: 0;
}

.download.waist .content {
    width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.download.waist .content .title {
    font-size: 17px;
    line-height: 26px;
    color: #777A8C;
    margin-bottom: 7px;
}

.download.waist .content .subtitle {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #777A8C;
    font-weight: 300;
}

.download.waist .content .app-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.download.waist .content .example {
    height: 158px;
}

.download.waist .content .mini-download {
    margin-left: 50px;
}

.mini-download.platforms>div {
    margin-right: 12px;
    align-items: flex-start;
}

.mini-download.platforms>div>div {
    margin-right: 5px;
}

.mini-download.platforms>div a {
    text-align: left;
    margin-top: 2px;
    max-width: 155px;
}

.mini-download.platforms .qrcode {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 50px;
    cursor: pointer;
}
.mini-download.platforms .qrcode .app-down-icon{
    width: 50px;
}
.mini-download.platforms a {
    color: #777A8C;
}

@media (max-width: 1024px) {
    .mini-download {
        align-items: center;
    }
    .mini-download .flex-row {
        margin-right: 0 !important;
    }
    .mini-download .flex-row .flex-column:last-child {
        margin-right: 0;
    }
    .mini-download .app-store {
        width: 150px;
        height: 47px;
    }
}


/* Card 结束 */


/* 当前售价区域 开始 */

.ant-divider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    background: #e8e8e8;
}

.ant-divider,
.ant-divider-vertical {
    position: relative;
    top: -0.06em;
    display: inline-block;
    width: 1px;
    height: 0.9em;
    margin: 0 8px;
    vertical-align: middle;
}


/* 当前售价区域 结束 */
@media (max-width: 429px){
    .common-banner .banner-inner .title-family{
        font-size: 48px;
    }
    .icon.app-down-icon{
        font-size: 8em;
    }
    .common-navbar nav a.ant-dropdown-link{
        display: none;
    }
    .download.waist{
        display: none;
    }
    .common-footer .social{
        display: none;
    }
}